body {
    background: black;
    color: beige;
    font-family: Arial, sans-serif;
    padding: 30px 0;
}

.container {
    background: linen;
    border: 1px solid tan;
    border-radius: 18px;
    padding: 30px;
    box-shadow: 0 0 18px wheat;
}

h2, h3, h4 {
    color: saddlebrown;
    font-weight: bold;
}

p, label, li, td, th {
    color: sienna;
    font-size: 15px;
}


.btn,
.btn-primary,
.btn-success,
.btn-default {
    background: burlywood;
    border: 1px solid tan;
    color: floralwhite;
    border-radius: 10px;
    box-shadow: none;
}

.panel,
.list-group-item,
table,
pre,
.search-card {
    background: floralwhite;
    color: saddlebrown;
    border: 1px solid tan;
}
pre,
.search-card {
    border-radius: 10px;
}

pre {
    background: ivory;
    padding: 15px;
}

.results-row {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.search-card {
    width: 260px;
    min-height: 320px;
    padding: 20px;
    box-shadow: 0 0 12px wheat;
    border-radius: 20px;
}

.search-card h4 {
    margin-top: 0;
    margin-bottom: 15px;
    color: saddlebrown;
}

.search-card p {
    color: sienna;
    margin-bottom: 10px;
    line-height: 1.5;
}

a {
    color: peru;
}

a:hover {
    color: saddlebrown;
    text-decoration: underline;
}