body{
background:#e3e3e9;
}

.section-title{
font-weight:700;
margin:40px 0 25px;
}

.course-card img{
height:160px;
object-fit:cover;
}

.course-card{
height:100%;
}

.btn-primary{
    align-self: left;
}