.item-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px dashed var(--border-color);
    padding: 10px 0;
}

.delete-btn {
    background: none;
    border: none;
    font-weight: 700;
    cursor: pointer;
    color: var(--expense-color);
}

.progress {
    background-color: #e6e6e4;
    border: 1px solid var(--border-color);
    height: 32px;
    margin-bottom: 10px;
}

.progress-bar {
    font-weight: 700;
    line-height: 32px;
    padding-left: 10px;
}