.balance-value {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    padding: 15px 0;
    letter-spacing: -1px;
    color: var(--border-color);
}

.dashboard-block .terminal-btn {
    width: fit-content;
    min-width: 200px;
}