:root {
    --bg-color: #FCFCFC;
    --card-bg: #FFFFFF;
    --text-color: #333333;
    --text-muted: dimgrey;
    --sidebar-bg: #333333;
    --sidebar-text: darkgrey;
    --sidebar-border: #403D3D;
    --primary-color: royalblue;
}

[data-theme='dark'] {
    --bg-color: #121212;
    --card-bg: #1e1e1e;
    --text-color: #e0e0e0;
    --text-muted: #a0a0a0;
    --sidebar-bg: #000000;
    --sidebar-text: #a0a0a0;
    --sidebar-border: #222222;
    --primary-color: #375a7f;
}