.modal-dialog-custom {
    max-width: 500px;
    min-height: 70vh;
    margin: 1.5rem auto;
}

.modal-header-custom {
    padding-bottom: 1rem;
    border-bottom: none;
}

.app-layout {
    min-height: 100vh;
}

@media (max-width: 576px) {
  .experiment-page .table th:nth-child(3),
  .experiment-page .table td:nth-child(3),
  .experiment-page .table th:nth-child(4),
  .experiment-page .table td:nth-child(4),
  .experiment-page .table th:nth-child(6),
  .experiment-page .table td:nth-child(6)
  {
    display: none;
  }
}

@media (max-width: 576px) {
  .models-page .table th:nth-child(4),
  .models-page .table td:nth-child(4),
  .models-page .table th:nth-child(5),
  .models-page .table td:nth-child(5),
  .models-page .table th:nth-child(6),
  .models-page .table td:nth-child(6)
  {
    display: none;
  }
}

@media (max-width: 576px) {
  .model-entity-page .table th:nth-child(4),
  .model-entity-page .table td:nth-child(4),
  .model-entity-page .table th:nth-child(3),
  .model-entity-page .table td:nth-child(3)
  {
    display: none;
  }
}

@media (max-width: 576px) {
  .experiment-entity-page .table th:nth-child(2),
  .experiment-entity-page .table td:nth-child(2),
  .experiment-entity-page .table th:nth-child(3),
  .experiment-entity-page .table td:nth-child(3),
  .experiment-entity-page .table th:nth-child(6),
  .experiment-entity-page .table td:nth-child(6)
  {
    display: none;
  }
}

@media (max-width: 850px) {
  .models-page .table th:nth-child(5),
  .models-page .table td:nth-child(5)
  {
    display: none;
  }
}