@media (min-width: 992px) {
    .filter-sidebar {
        position: sticky;
        top: 80px;
    }
}

.custom-range::-webkit-slider-thumb {
    background: #0d6efd;
    cursor: pointer;
}

.custom-range::-webkit-slider-thumb:hover {
    background: #0b5ed7;
}